@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url(portrait-general-practitioner-taking-notes-medical-office-waiting-start-checkup-examination-with-patient-male-physician-with-white-coat-using-appointment-documents-clinic-office.jpg);
  font-family: "Poppins", sans-serif;
}

.container {
  margin: 20px 40px;
  color: white;
}

.heading {
  font-size: 60px;
  color: white;
    margin: 0 80px; <!-- this helps with moving things -->
}

.heading span {
  font-style: italic;
  font-size: 30px;
}

.profiles {
  display: flex;
  justify-content: space-around;
  margin: 40px 80px;
}

.profile {
  flex-basis: 260px;
}

.profile .profile-img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  filter: grayscale(100%);
  cursor: pointer;
  transition: 400ms;
}

.profile:hover .profile-img {
  filter: grayscale(0);
}

.user-name {
  margin-top: 30px;
  font-size: 35px;
}

.profile h5 {
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 3px;
  color: #000;
}

.profile p {
  font-size: 16px;
  margin-top: 20px;
  text-align: justify;
} 

<! -- this is for second round of pictures -->
.second-profiles { 
    display: flex;
    justify-content: space-around;
    margin: 40px 80px
}

.prof {
  flex-basis: 260px;
}

.prof .profile-img {
  height: 260px;
  width: 260px;
  border-radius: 50%;
  filter: grayscale(100%);
  cursor: pointer;
  transition: 400ms;
}

.prof:hover .profile-img {
  filter: grayscale(0);
}

.user {
  margin-top: 30px;
  font-size: 35px;
}

.prof h5 {
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 3px;
  color: #ccc;
}

.prof p {
  font-size: 16px;
  margin-top: 20px;
  text-align: justify;
} 

@media only screen and (max-width: 1150px) {
  .profiles {
    flex-direction: column;
  }

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile p {
    text-align: center;
    margin: 20px 60px 80px 60px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 900px) {
  .heading {
    font-size: 40px;
    color: white;
    text-align: center;
  }

  .heading span {
    font-size: 15px;
  }

  .profiles {
    margin: 20px 0;
  }

  .profile p {
    margin: 20px 10px 80px 10px;
  }
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}
.logo {
    width: 175px;
    cursor: pointer;
    margin: 20px 0;
}
.menu-icon {
  width:25px;
    cursor: pointer;    
    display: none;
}
nav  {
    flex:1;
    text-align: right;
    margin-right: 125px;
    margin-top: 5px;
}
nav ul li {
    list-style:none;
    display: inline-block;
    margin-right: 30px;
}
nav ul li a {
    text-decoration: none;
    color: #ff5ea2; 
    font-size: 14px;
}

nav ul li a:hover {
    color: #000;
}