@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
* {
    margin:0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background: url(background.jpg);
    background-size: cover;
   
}
.container{
    
    width: 100%;
    min-height: 100vh;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}
.navbar{
    width: 100%;
    display: flex;
    background: none;
    
    align-items: center;
}
.logo {
    background: none;
    width: 175px;
    cursor: pointer;
    margin: 20px 0;
}
.menu-icon {
  width:25px;
    cursor: pointer;    
    display: none;
}
nav  {
    flex:1;
    text-align: right;
    
}
nav ul li {
    list-style:none;
    display: inline-block;
    margin-right: 30px;
    background: none;
}
nav ul li a {
    background:none;
    text-decoration: none;
    color: #ff5ea2; 
    font-size: 14px;
}

nav ul li a:hover {
    color: black;
}
.row {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 30px;
}
.col-1 {
    background: none;
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}
.col-1 h2 {
    background: none;
    font-size: 54px;
}
.col-1 h3 {
    background: none;
    font-size: 30px;
    color: : #707070;
    font-weight: 100;
    margin: 20px 0 10px;
}
.col-1 p {
    font-size: 16px;
    color: #b7b7b7;
    font-weight: 100;
}
.col-1 h4 {
    margin: 30px 0;
    font-size: 20px;
}
button {
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #ff6062;
    background:  #fff;
    border-radius: 6px;
    cursor: pointer;
    transition: width 0.5s;
}
button:hover {
    width: 160px;
    display: flex;
    align-items: center;
    
    justify-content: space-between;
}
.col-1::after{
    content: '';
    width: 10px;
    height: 57%;
    background: #fff;
    position: absolute; 
    left: -40px;
    top: 8px;
}
.col-2 {
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}
.vl1 { /*vertical line 1 */
  border-left: 3px solid black;
  height: 200px;
  position: absolute;
  left: 570px;
  margin-left: -3px;
  top: 900px;
}
.vl2 { /*vertical line 1 */
  border-left: 3px solid black;
  height: 200px;
  position: absolute;
  left: 570px;
  margin-left: -3px;
  top: 1200px;
}
.button1 {
    width: 800px;
    border: 0;
 left: 100px;
    outline: none;
    color: #ff6062;
    background: #fff;
    
    position: absolute;
    top: 2050px;

    transition: width 0.5s;
}
.button1:hover {
    width: 820px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}




@media only screen and (max-width: 700px) {
    nav ul {
        width: 100%;
        background: linear-gradient(#ff54a2, #ff575a);
        position: absolute;
        top: 100px;
        right: 0;
        z-index: 2;
    }
    nav ul li {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a {
        color: #fff;
    }
    .menu-icon {
        display: block;
    }
    #menuList {
        overflow: hidden;
        transition: 0.5s;
    }
    .row {
        flex-direction: column-reverse;
        margin: 50px 0;
    }
    .col-2 {
        flex-basis: 100%;
        margin-bottom: 50px;
    }
    .col-2 .picture {
        width: 77%;
    }
    .color-box {
        transform: translateX(75px)
    }
    .col-1 {
        flex-basis: 100%;

    }
    .col-1 h2 {
        font-size: 35px;
    }
    .col-1 h3 {
        font-size: 15px;
    }
}